body{
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background-color: #6699ff;
  text-align: center;
}

.box{
  width: 450px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 10px;
  
}

.box input[type = "text"],.box input[type = "password"]{
  border: 0;
  background: none;
  margin : 20px auto;
  display : block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  transition: 0.25s;
  border-radius: 24px;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color : #ffccff;
}

.box input[type = "submit"] {
  border: 0;
  background: none;
  margin : 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  transition: 0.25s;
  border-radius: 24px;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.login_verification {
  margin: auto;
  margin-top:70px;
  text-align: center;
  width: 350px;
  color: white;
  font-size: 20px;
  background-color: #ff726f;
  border-radius: 5px;
}